

@model double

<div class="">

    <span >
        <div class="rating-group">
            @{
                double roundedRating = Model;
                bool hasHalfStarValue = Math.Truncate(roundedRating) > 0;
                double endValue = roundedRating;
                bool isHalf = true;
                for (double i = 0.5; i <= 5; i += 0.5)
                {
                    if (isHalf)
                    {
                        if (i <= endValue)
                        {
                            <label class="rating__label rating__label--half"><i class="rating__icon rating__icon--star fa fa-star-half yellow-star"></i></label>
                        }
                        else
                        {
                            <label class="rating__label rating__label--half"><i class="rating__icon rating__icon--star fa fa-star-half white-star"></i></label>
                        }
                    }
                    else
                    {
                        if (i <= endValue)
                        {
                            <label class="rating__label"><i class="rating__icon rating__icon--star fa fa-star yellow-star"></i></label>
                        }
                        else
                        {
                            <label class="rating__label"><i class="rating__icon rating__icon--star fa fa-star white-star"></i></label>
                        }
                    }
                    isHalf = !isHalf;
                }
            }

        </div>
    </span>
</div>

