@{
    AvatarHelper avatarHelper = new AvatarHelper();
    string navbarUsername = "Account";
    string avatarLocation = "avatar-default.jpg";

    if (User.Identity is { IsAuthenticated: true })
    {
        navbarUsername = User.Identity.Name;
        avatarLocation = avatarHelper.GetAvatar(navbarUsername);
    }

    var userRoles = User.Claims.Where(c => c.Type == ClaimTypes.Role);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - Language Learning </title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">

    <script src="https://kit.fontawesome.com/c21727a50d.js" crossorigin="anonymous"></script>
</head>

<body>

@*CONTACT MODAL*@
<div class="modal fade" id="contactModal" aria-hidden="true" aria-labelledby="contactModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contactModalLabel">Write to us</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form asp-controller="Home" asp-action="Contact" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Your email address</label>
                        <input type="email" class="form-control" name="email" placeholder="e.g. name@example.com" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll only use your email for further communication and won't share it with anyone else.</small>

                    </div>

                    <div class="mb-3">
                        <label for="body" class="form-label">Your message</label>
                        <textarea rows="4" class="form-control" name="body" placeholder="Drop us a message, and we'll get back to you as soon as possible! 🚀"></textarea>
                    </div>


                    <div style="text-align: center;">
                        <button type="submit" value="post" class="btn btn-primary btn-sm">
                            <i class="fa-regular fa-paper-plane"></i> Send
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@* Top Navigation *@
<nav id="nav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="btn-group"></div>
        <div class="btn-group navbar-brand" role="group" aria-label="Basic example">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <i class="fa-regular fa-comments"></i> <strong>Language Learning</strong>
            </a>
            @if (User.Identity is { IsAuthenticated: true })
            {
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">☰</button>
            }
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/Courses">All Courses</a>
                </li>
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Assignments">Assignments</a>
                    </li>
                }
                @if (User.Identity is { IsAuthenticated: true } && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Index">Users</a>
                    </li>
                }

                    
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        @{
                            if (User.Identity is { IsAuthenticated: true })
                            {
                                <img class="avatar-layout" src="~/images/avatars/@avatarLocation" alt="avatar" />
                            }
                            else
                            {
                                <i class="fa-solid fa-user"></i>
                            }
                        }
                        @navbarUsername
                    </a>
                    <ul class="dropdown-menu">
                        @if (User.Identity is { IsAuthenticated: true })
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Index"><i class="fa-solid fa-address-card"></i>&nbsp; Profile Info</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Update"><i class="fa-solid fa-pen-to-square"></i>&nbsp; Update Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Password"><i class="fa-solid fa-key"></i>&nbsp; Change Password</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Login</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Register"><i class="fa-solid fa-user-plus"></i>&nbsp; Register</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@* Sidebar *@
@if (User.Identity is { IsAuthenticated: true })
{
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header" style="box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06); z-index: 1050;">
                <h3 class="offcanvas-title fw-bolder" id="offcanvasExampleLabel">My Language Learning Courses</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @await Component.InvokeAsync("Sidebar")
        </div>
    </div>
}

@* Main Body *@
<main id="main" role="main" class="pb-3 ps-0 pe-0 rounded-1">
    @RenderBody()
</main>

@* Footer *@
<footer id="footer" class="pt-2 border-top footer text-muted" style="text-align: center;">
    <div class="container">
        <span>
            Language Learning &copy; 2024 -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> - <a href="/api/swagger">API</a>
            -
            <a href="#" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</a>

        </span>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>