@{
    ViewData["Title"] = "Success! ";
}

<div class="d-flex align-items-center justify-content-center vh-150">
    <div class="text-center">
        @* <h1 class="display-1 fw-bold">@TempData["StatusCode"]</h1> *@
        <p class="fs-3"> <span class="text-success-emphasis" style="color: green !important; font-weight: bold !important;">Success!</span></p>
        <p class="lead">
            @TempData["SuccessMessage"]
        </p>
    </div>
</div>