@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}


.modal-footer .left-side-container {
    margin-right: auto; /* This pushes the left-side container to the left */
}

body {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'nav nav nav nav nav nav nav nav nav nav nav nav'
        'main main main main main main main main main main main main'
        'footer footer footer footer footer footer footer footer footer footer footer footer';
    grid-template-rows: min-content auto max-content;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    grid-area: nav;
    margin-left: 100px;
    margin-right: 100px;
}

main {
    grid-area: main;
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    grid-area: footer;
    height: 50px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.sidebar {
    height: calc(100% - 449px);
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 110px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 30px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */

.rating-group {
    display: inline-flex;
    font-size: 0.7rem;
}

/* make hover effect work properly in IE */
.rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

/* set icon padding and size */
.rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.1em;
}

/* add padding and positioning to half star labels */
.rating__label--half {
    padding-right: 0;
    margin-right: -1.2em;
    z-index: 2;
}

/* set default star color */
.rating__icon--star {
    color: orange;
}

/* set color of none icon when unchecked */
.rating__icon--none {
    color: #eee;
}


/*rating stars on click effects*/

/* if none icon is checked, make it red */
.rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}

/*if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}



/*rating stars hover effects*/

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
}

/*make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star,
.rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
}

/*make none icon grey on rating group hover */
.rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
}

/*make none icon red on hover */
.rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
}

.orange-star {
    color: orange !important;
}

.white-star {
    color: white !important;
}

.no-interaction .rating__icon--star {
    color: inherit !important;
    pointer-events: none !important;
}


.grey-text {
    color: rgba(135, 135, 135, 0.8) !important;
}

.circle-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle-avatar-home {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.course-header {
    padding: 17px;
    border-radius: 7px;
    color: #ffff;
    background: linear-gradient(to right, #4158D0, #C850C0,#FFCC70);
}

.language-flag {
    width: 28px;
    height: 20px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.language-flag-small {
    width: 18px;
    height: 10px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.custom-hover:hover {
    background-color: #f8f9fa;
}

.avatar-small {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    object-fit: cover; 
}

.avatar-layout {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0px;
}


/*positionning classes below
parent "position-relative" child "position-absolute"*/

.btn-icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.top-5px {
    top: 5px !important;
}

.top-10px {
    top: 10px !important;
}

.top-15px {
    top: 15px !important;
}

.top-20px {
    top: 20px !important;
}

.top-25px {
    top: 25px !important;
}

.top-45px {
    top: 45px !important;
}

.bottom-5px {
    bottom: 5px !important;
}

.bottom-10px {
    bottom: 10px !important;
}

.bottom-15px {
    bottom: 15px !important;
}

.bottom-25px {
    bottom: 25px !important;
}


.start-5px {
    left: 5px !important;
}


.start-10px {
    left: 10px !important;
}


.start-15px {
    left: 15px !important;
}


.start-20px {
    left: 20px !important;
}

.start-50px {
    left: 50px !important;
}

.start-250px {
    left: 250px !important;
}
.start-350px {
    left: 350px !important;
}

.start-400px {
    left: 400px !important;
}


.end-5px {
    right: 5px !important;
}

.end-10px {
    right: 10px !important;
}

.end-15px {
    right: 15px !important;
}

.end-20px {
    right: 20px !important;
}


.end-25px {
    right: 25px !important;
}


.end-50px {
    right: 50px !important;
}

.end-70px {
    right: 70px !important;
}

.end-90px {
    right: 90px !important;
}

.end-120px {
    right: 120px !important;
}

.end-150px {
    right: 150px !important;
}

.end-160px {
    right: 160px !important;
}

.end-170px {
    right: 170px !important;
}

.end-230px {
    right: 230px !important;
}

.custom-card-height-1 {
    min-height: 170px;
    overflow: auto;
}

.inline-block {
    display: inline-block;
}

.no-padding {
    padding: 0 !important;
}

.form-container {
    max-width: 350px;
    margin: auto;
}

